.parent {
    width: 100%;
    display: block;
}

.left {
    width: 50%;
    display: inline-block;
}

.right {
    width: 50%;
    display: inline-block;
}

h1 {
    color: #5f5d5d;
    padding-left: 70px;
    padding-bottom: 10px;
}